*{
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    background-color: rgb(250, 250, 250);
}
.container{
    max-width: 600px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* border-left: 5px solid #1F4BA4 */
}



/*add task componennt*/
.addTask{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1F4BA4;
    color: #1F4BA4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.addTaskInput{
    width: 80%;
    margin: 10px auto;
    border-radius: 10px
}
.addTask label{
    display: inline-block;
    margin: 10px 20px 10px 20px;
    font-weight: 600;
}
.addTask input{
    display: inline-block;
    width: 70%;
    margin: 0px auto 10px auto;
    padding-left: 10px;
    border: none;
    outline: none;
}

.addTask button{
    padding: 10px 20px;
    display: block;
    font-weight: 800;
    width: 150px;
    margin: 20px auto 10px auto;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #1F4BA4;
}

.task-list{
    padding: 0;
    width:100%;

}
.task-list h2{
    text-align: center;
    font-size: 50px;
    color: #1F4BA4;
}
.task{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-left: 5px solid #1F4BA4;
}

.task:hover,
.task:hover .delete,
.task:hover .task-item
{
    background-color: #1F4BA4;
    color: white;
} 
.task-item {
    display: inline-block;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 700;

}
.delete{
    margin: 5px 15px;
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}



/* task componenent  end */